@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Ubuntu:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    background: rgb(34,84,91);
    background: linear-gradient(180deg, rgba(18,18,55,1) 41%, rgb(16, 85, 101) 89%, rgb(12, 115, 136) 100%);
}

.calcu{
    display: none;
}

.show{
 height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
   
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.sty{
    color: white;
}
.preloader{
    height: 100vh;
    width: 100vw;
    background: #fff url("loader.gif")  no-repeat  center center;
  
    position: fixed;
    
    z-index: 200;
}
#adtext{
    padding-top: 10px;
}
h2{
    color: aqua;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 70px;
    font-size: 35px;
}
.calcul{
    display: flex;
   min-height: 100vh;
justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
   
}
#note{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-left: 10px
    
}
input[type="text"]{
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgb(10, 239, 239);
    transition: all 0.1s ease;
    outline: none;
   width: 80vw;
    background-color: transparent;
    color: white;
    margin: 5px 0;

    
}
input[type="text"]::placeholder{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
   
}
input[type="text"]:focus{
    box-shadow: 0 0 10px rgb(10, 239, 239);
    background-color: transparent;
}
.btn{
    text-align: center;
    margin-top: 50px;

}
input[type="button"]{
    padding: 15px 50px;
    border-radius: 30px;
    background-color: rgba(0, 255, 255, 0.621);
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: white;
}
input[type="button"]:hover{
    transform: scale(0.92);
    box-shadow: 0 0 10px rgb(10, 239, 239);
    
}

@media screen and (max-width:400px) {
    input[type="text"]::placeholder{
        font-size: 11px;
    }
    input[type="text"]{
        padding: 15px 12px;
    }
}